@use "fonts";
@import "colors"; 

@import "navigation";
@import "footer";
@import "global"; 
@import "form"; 

  %page-hight-contact{
    min-height: 1150px; //1375
    height: 100%;
  }

  .main {
    @extend %page-hight-contact; 
  }
  
// contact styles

.headline-container {
  max-width: 475px;
  width: 100%;
  min-height: 154px;
  height: auto;
  position: relative;
  margin-top: 91px;
}

.headline {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
}

.text-container-contact {
  display: flex;
  flex-direction: row;
}

.our-favorite-brands-text {
  max-width: 445px;
  width: 100%;
  min-height: 56px;
  height: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: $black;
  opacity: 0.8;
  word-wrap: break-word;
  margin: 0px;
}

.image-map{
  position: relative;
  margin-top: 120px;
  max-width: 1110px;
  width: 100%;
  min-height: 570px;
  height: 100%;
}

