.footer {
  max-width: 1109px;
  width: 100%;
  min-height: 23px;
  height: 100%;
  border: green solid 2px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  position: relative;
  &__list {
    margin-right: 50px;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    gap: 24px;
    display: flex;
    list-style-type: none;
    font-weight: 700;
    font-size: 18px;
  }
  &__link {
    color: black;
    text-decoration: none;
  }
  &__li {
    cursor: pointer;
    &:hover {
      color: rgb(136, 136, 136);
      opacity: 0.8;
    }
  }
}
