@use "fonts";

@import "colors"; 
@import "navigation";
@import "footer";
@import "gallery";
@import "main";
@import "text-box";
@import "awards-text-box";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: fonts.$main-font;
  // min-height: 3840px;
}
